@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

table {
    text-align: center;
    border-collapse: collapse;
    width: 400px;
    margin: auto;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


img {
    border-radius: 25px;
    width: 100%;
}

tr:hover {
    color: lightslategrey;
}

.container {
    background-color: azure;
    width: 960px;
    margin: auto;
}

header,
footer {
    background-color: silver
}